@charset "utf-8";
/* CSS Document */
body { margin:auto;width:1000px; background-color:#4faaf0 }
a:hover{
            color: #ffffff;
        }
a{text-decoration: none;}
.imge{
	width:1000px; 
	margin:0 auto;
	background:url(  "../imge/a1.jfif") no-repeat; 
	height:370px; 
	/*position:relative;*/
}



.a1{
	 margin: 5px 20px 0 20px;
	
}
.a1 h2{margin:5px 0 10px 0; 
	border-left:4px #333333 solid; 
	font-size:14px;
	padding: 0 0 0 10px}
.a1 p{ line-height:22px;
	color:#514B4B;
	margin:10px 0;}





.a2{width:400px; 
	float:left; 
	margin: 0 20px 0 0; 
	border-right:#ccc 1px dotted; }
.a2 h2{margin:5px 0 10px 0; 
	border-left:4px #333333 solid; 
	font-size:14px;
	padding: 0 0 0 10px}
.aa2{ margin: 0 0 0 20px}
.aa2 p{ line-height:22px;
	color:#514B4B;
	margin:10px 0; 
	padding:0 20px 0 0 ;}
.aa2 p img{ float:left; 
	clear:left; 
	padding:4px; 
	border: #CCC 1px solid; 
	margin: 0 10px; 
	width:150px}

.a3 a:link{color: #000000;}
.a3 a:visited{color: #000000;}
.a3 a:hover{color: #ffffff;}
.a3{float:left; 
	width:370px}
.a3 h2{margin:5px 0 10px 0; 
	border-left:4px #333333 solid; 
	font-size:14px;
	padding: 0 0 0 10px}
.a3 ul{ margin:6px 0}
.a3 ul li { padding-left:15px;  
	font-size:12px; 
	line-height:26px; 
	overflow: hidden; 
	width:350px;}


.a33 a:link{color: #000000;}
.a33 a:visited{color: #000000;}
.a33 a:hover{color: #ffffff;}
.a33{float:left; 
	width:200px}
.a33 h2{margin:5px 0 10px 0; 
	border-left:4px #333333 solid; 
	font-size:14px;
	padding: 0 0 0 10px}
.a33 ul{ margin:6px 0}
.a33 ul li {   padding-left:5px;  
	font-size:15px; 
	line-height:35px; 
	overflow: hidden;}

.a4{overflow:hidden;
	width: 96%;
	margin:auto}
.a4 h1{ margin:0 0 10px 0;
	border-left:4px #333333 solid; 
	font-size:14px;
	padding: 0 0 0 10px}
.a4 .img4{
	width:940px;
	padding:0 20px;
	white-space:nowrap;
	overflow:hidden;
}
.a4 img{border: 6px solid #F2F2F2; padding:10px;}
.a5{ width:100%; 
	background:#333;  
	margin:10px 0 0 0; }
.a5 ul{margin:auto; 
	text-align:center; 
	padding:20px 0 0 0}
.a5 ul p{ line-height:2.2; 
	color:#fff;
	text-shadow: 0 1px 1px #000;}
.a5 ul p a{color:#fff}


